body {
    font-family: arial;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.top {
    background: url(../images/bg-copy.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 670px;
    margin: 0;
}

.left {
    padding-top: 65px;
}

.wrapper {
    max-width: 1390px;
    margin: auto;
}

#genus {
    padding-top: 40px;
}

.text {
    width: 460px;
    height: 90px;
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 15px;
}

.button {
    width: 255px;
    padding: 48px 79px;
}

.information {
    float: right;
    padding-top: 35px;
}

.information li {
    display: inline-block;
}

.information ul {
    padding-right: 94px;
    margin-right: 160px;
    padding-bottom: 25px;
}

.information a {
    float: right;
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 8px 15px;
    transform: skewX(-40deg)
}

.information :last-child{
    transform: none;
}

.information li:hover {
    background: #fefcea;
    background: linear-gradient(to top left, #0d8efe, #042a4e);
    padding: 2px;
    border-left: 2px solid #198dd4;
    border-right: 2px solid #198dd4;
    transform: skewX(40deg);
}
.information ul :hover :last-child {
    transform: skewX(-40deg);
}

.form {
    float: right;
    padding-right: 340px;
}

.form input {
    height: 28px;
    background-color: #113054;
    border: 2px solid #465773;
    color: #ffffff;
}


.languages {
    top: 125px;
    display: inline-flex;
    width: 50px;
    float: right;

}

.languages a {
    transform: skewX(0deg)
}

.languages a:hover {
    background: linear-gradient(to top left, #0d8efe, #042a4e);
    transform: skewX(0deg)
}

.languages a {
    width: 25px;
    background: none;
    border-left: 1px solid #4c5058;
    color: #ffffff;
    margin-left: 12px;
}
.languages a:last-child{
    margin-left:0px;
}
.languages input {
    border-left: 0px;
    margin-left: -21px;
    outline: 0;
    height: 24px;

}

.registrar {
    padding-top: 40px;
    padding-right: 290px;
    float: right;
}

#tex {
    width: 180px;
    border-right: 0;
    margin-right: 20px;
}

.strip_blue img {
    width: 100%;
    height: 54px;
    opacity: 0.9;
    margin-bottom: -10px;
}

.main {
    height: 344px;
}

.nav {
    padding: 0;
    margin: 0;
}

.nav li {
    background: url(../images/-----26.png);
    background-repeat: no-repeat;
    list-style-type: none;
    display: inline-block;
    padding-top: 16px;
    width: 330px;
    height: 33px;
    float: right;
    margin-right: -77px;
}

.nav a {
    font-size: 18px;
    text-decoration: none;
    color: #7a7a7a;
    margin: 130px;
    background-position: center;
    line-height: 28px;
}

.nav ul {
    margin: -16px;
    padding-right: 360px;
}

.nav a:hover {
    color: #d9d9d9;
    font-size: 25px;
    text-transform: uppercase;
    background: linear-gradient(to top, #22a3dc 0%, #6fdbff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    font-weight: 600;
    transition: none;
}

.nav li:hover {
    background: url(../images/shape-8-------4.png);
}

.info img {
    float: left;
    padding-top: 54px;
}

.info p {
    padding-left: 340px;
    padding-top: 100px;
    line-height: 22px;
}

.background {
    background-color: #dddddd;
    height: 370px;
    margin-bottom: -23px;
}

#caption {
    font-size: 20px;
    text-align: center;
    background-image: url(../images/caption.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 12px;
}

.conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.my-flex-block img {
    float: left;
}

.my-flex-block p {
    float: left;
    font-size: 13px;
    line-height: 22px;
}

.line {
    background: #dddddd;
    height: 10px;
}

.conteiner2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 55px;
}

.my-flex-block2 {
    padding-top: 35px;
}

.conteiner3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bottom-bg {
    background-image: url(../images/bottom-bg.png);
    height: 85px;
    padding-top: 45px;
}

.my-flex-block3 img {
    padding-right: 10px;
}
.my-flex-block4 a {
    padding-left: 15px;
}
